.chat-section {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
  
  .chat-input {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .chat-box {
    width: 450px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    margin-right: 10px;
    position: relative;
    textarea {
      resize: none;
    }
  }
  
  .commands-history {
    max-height: 250px;
    overflow: auto;
  }
  
  
  
  .soundwave {
    animation: soundwave 0.7s infinite;
  }
  
  @keyframes soundwave {
    from {
      opacity: 0.5;
      color: #16e020;
    }
  
    20% {
      color: #16e020;
      opacity: 0.6;
    }
  
    35% {
      color: #16e020;
      opacity: 0.9;
    }
  
    45% {
      color: #16e020;
      opacity: 1;
    }
  
    55% {
      color: #16e020;
      opacity: 0.9;
    }
  
    to {
      color: #16e020;
      opacity: 0.5;
    }
  }
  .loader-process {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }